<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% load static %}

<head>
  <title>About Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="index">BC</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="index">Home</a></li>
          <li class="active"><a href="#">About Me</a></li>
          <li><a href="project">Project</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="profile-main">
    <div class="profile-header">
      <div class="self-detail">
        <div class="self-image">
          <img src="/static/images/Pasfoto.jpg">
        </div>
        <div class="self-data">
          <h2>Brian Christian</h2>
          <p>1906398295</p>
          <p>Student at <strong>Universitas Indonesia</strong><br>
            <i class="fa fa-map-marker" aria-hidden="true"></i>  Jakarta, Indonesia
          </p>
        </div>
      </div>
      <div class="tab-panel-main">
        <ul class="tabs">
          <li class="tab-link current" data-tab="Basic-info">Basic Info</li>
          <li class="tab-link" data-tab="Edu-info">Education History</li>
          <li class="tab-link" data-tab="Exp-info">Experience</li>
        </ul>
        <div id="Basic-info" class="tab-content current">
          <div class="profile-box">
            <div class="heading">
              <p>Profile</p>
            </div>
            <div class="desc">
              I am a student of class 2019 currently studying at the Faculty of Computer Science, 
              Universitas Indonesia. I like things related to technology, especially in the field 
              of computer science. Outside of that, I have an interest in music, gaming, and reading.
            </div>
          </div>
          <div class="detail-box">
            <p>Detail</p>
            <ul class="ul-first">
              <li>Birth date</li>
              <li>City</li>
              <li>Country</li>
              <li>Contact</li>
            </ul>
            <ul class="ul-second">
              <li>18 January 2002</li>
              <li>Jakarta</li>
              <li>Indonesia</li>
              <li>brian.christian@ui.ac.id</li>
            </ul>
          </div>
        </div>
        <div id="Edu-info" class="tab-content">
          <div class="Edu-box-main">
            <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h2>
            <div class="Edu-box">
              <h5><span>SD Budhaya II</span> <br>
                2007 - 2013 | </h5>
            </div>
            <div class="Edu-box">
              <h5><span>SMPK 5 Penabur</span> <br>
                2013 - 2016 | </h5>
            </div>
            <div class="Edu-box">
              <h5><span>SMAK 7 Penabur</span> <br>
                2016 - 2019 | Science</h5>
            </div>
            <div class="Edu-box">
              <h5><span>Universitas Indonesia</span> <br>
                2019 - Now | Computer Science</h5>
            </div>
          </div>
        </div>
        <div id="Exp-info" class="tab-content">
          <div class="Exp-box">
            <h3>Skills</h3>
            <div class="skill-box"><img src="/static/images/python.svg"></div>
            <div class="skill-box"><img src="/static/images/java.svg"></div>
            <div class="skill-box"><img src="/static/images/Bootstrap_logo.svg"></div>
            <div class="skill-box"><img src="/static/images/html-5.svg"></div>
            <div class="skill-box"><img src="/static/images/css-3.svg"></div>
            <div class="skill-box"><img src="/static/images/flask.png"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="footer">
      <p><strong>Contact me:</strong></p><br>
      <div class="footer-box"><a href="https://www.facebook.com/brian.christian.39/"><i class="fa fa-facebook"></i></a></div>
      <div class="footer-box"><a href="https://twitter.com/Brian_1801"><i class="fa fa-twitter"></i></a></div>
      <div class="footer-box"><a href="https://steamcommunity.com/profiles/76561198175372785"><i class="fa fa-steam"></i></a></div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('ul.tabs li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      });
    });
  </script>
</body>
</html>