<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <title>Welcome!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BC</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="about">About Me</a></li>
          <li><a href="project">Project</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="profile-main">
    <div class="profile-content">
      <div class="profile-image">
        <img src="/static/images/Foto.jpg">
      </div>
      <div class="profile-data">
        <h1>Hi! I'm Brian</h1>
        <div class="about-tag"><a href="about">
          <p>About Me -></p>
        </a>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="footer">
      <p><strong>Contact me:</strong></p><br>
      <div class="footer-box"><a href="https://www.facebook.com/brian.christian.39/"><i class="fa fa-facebook"></i></a></div>
      <div class="footer-box"><a href="https://twitter.com/Brian_1801"><i class="fa fa-twitter"></i></a></div>
      <div class="footer-box"><a href="https://steamcommunity.com/profiles/76561198175372785"><i class="fa fa-steam"></i></a></div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('ul.tabs li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      });
    });
  </script>
</body>
</html>